.header-container .header.region--gray-background {
  background-color: #d52027;
}
.site-branding__name a {
  color: #000000;
}
.menu-item a {
    color: #000000;
}

.region-sidebar-first ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
}

.main-content__section {
    padding-top: 100px;
}

.region-content a {
    text-decoration: underline;
}

a.button {
    text-decoration: none;
}

.view-id-sponsors .node__header {
    display: none;
}

.view-display-id-sponsor_sidebar .item-list ul li {
     margin-bottom: 2em;
}

#block-nedcamplogo p {
    margin-left: 2em;
    padding: 0px;
}

#block-nedcamp {
    padding-bottom: 1em;
}

.page-node-type-session .field--name-field-speakers .field__items {
    width: 100%;
}

.page-node-type-session .field--name-field-speakers .field__item {
    width: 100%;
}


.page-node-type-session  .field.field--name-field-first-name.field--type-string.field--label-hidden.field__item {
    float: left;
    width: auto;
}

.page-node-type-session .field.field--name-field-last-name.field--type-string.field--label-hidden.field__item {
    float: left;
    width: auto;
    margin-left: 3px;
}

.page-node-type-session .field.field--name-field-job-title.field--type-string.field--label-hidden.field__item,
.page-node-type-session .field.field--name-field-company.field--type-string.field--label-hidden.field__item,
.page-node-type-session .clearfix.text-formatted.field.field--name-field-bio.field--type-text-long.field--label-hidden.field__item {
    clear: both;
}

.page-node-type-session .field.field--name-user-picture.field--type-image.field--label-hidden.field__item img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.field--name-field-audience-level {
    margin: 0.5rem 0;
}

.field--name-field-topic {
    margin: 0.5rem 0;
}

.page-node-type-session .field--name-field-audience-level {
    margin: 0.5rem 0;
}

.node ul.inline li.node-readmore a {
    padding: 7px;
}

.node--view-mode-teaser {
    margin-bottom: 2rem;
    padding-bottom: 0;
}

.node__links {
    margin-top: 1rem;
}

